@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FastTrack Gardens</h1>
    <h3 class="text-muted" style="margin-top:1%"><i>Making gardening more hands free, so you can focus on what matters</i></h3>
</div>
